<!doctype html>
<html lang="en">

<head>
    <title>Karachi Garbage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/all.css">
    <script src="./js/jquery-3.4.1.min.js"></script>
    <script src="./js/script.js"></script>

</head>

<body>
    <div class="container-fluid shadow-lg p-0" id="top">
        <img src="./images/garbage-2091534_960_720.png" class="logo" alt="Logo">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="collapse navbar-collapse p-0" id="collapsibleNavId">
                <div class="row w-100 ml-1">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12 ml-auto mr-2">
                                <nav class="nav float-right">
                                    <a class="nav-link text-dark" href="./index.html">Home</a>
                                    <a class="nav-link text-dark" href="./garbage-pickup.html">Dumpster Locations</a>
                                    <a class="nav-link text-dark" href="./faq.html">FAQ</a>
                                    <a class="nav-link" href="#"></a>
                                    <a class="nav-link" href="#"></a>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12 mr-auto">
                                <nav class="nav float-left mr-1">
                                    <a class="nav-link" href="#"></a><a class="nav-link" href="#"></a>
                                    <a class="nav-link active text-dark" href="./garbage-pickup.html">Garbage pickup
                                        schedule</a>
                                    <a class="nav-link active text-dark" href="./about.html">About</a>
                                    <a class="nav-link active text-dark" href="./contact.html">Contact</a>

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <br /><br />
    <div class="container-fluid bg-light shadow-lg w-100">
        <div class="row">
            <div class="col-1"></div>

            <div class="col-4 p-0">
                <img height="500px" src="./images/dasdas.jpg">
            </div>
            <div class="col-1"></div>

            <div class="col-5 ">
                <br />
                <div class="space"></div>
                <p class="h1 ml-3" style="font-family: Century Gothic">A note from Karachi Garbage</p>
                <p class="h3 ml-3" style="font-family: Century Gothic">We provide a portal gateway to make people aware
                    of problems caused by dumping garbage in areas where people living specially the problem of
                    environmental pollution.
                </p>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <br /><br /><br />
        <h2 class="text-center header1" style="font-family: Century Gothic">A Freshly cleaned world</h2>
        <h4 class="text-center" style="font-family: Century Gothic">The Earth is what we have in common, so it's our
            responsibility to clean our motherland.</h4>
        <br /><br /><br />

    </div>
    <div class="container-fluid bg-light shadow-lg w-100">
        <div class="row">
            <div class="col-1"></div>


            <div class="col-6">
                <br />
                <div class="space"></div>
                <p class="h1 ml-3" style="font-family: Century Gothic">What we do ?</p>
                <p class="h3 ml-3" style="font-family: Century Gothic">We make people aware of giant dumpster locations
                    and also a schedule that can help to dump the garbage to a better place that couldn't cause any harm
                    to atmosphere.
                </p>

            </div>
            <div class="col-4 p-0">
                <img height="500px" src="./images/photo-1503803548695-c2a7b4a5b875.jpg">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <br /><br /><br />
        <h4 class="text-center" style="font-family: Century Gothic">Our Motto is:</h4>
        <h2 class="text-center header1" style="font-family: Century Gothic">A Clean & green world for everyone</h2>

        <br /><br /><br />

    </div>
    <!-- Footer -->
    <footer class="page-footer font-small cyan shadow-lg darken-3">

        <!-- Footer Elements -->
        <div class="container">

            <!-- Grid row-->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-12 py-5">
                    <div class="mb-5 flex-center text-center">

                        <!-- Facebook -->
                        <a class="fb-ic">
                            <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic">
                            <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Google +-->
                        <a class="gplus-ic">
                            <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic">
                            <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                            <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Pinterest-->
                        <a class="pin-ic">
                            <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
                        </a>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row-->
        </div>
        <!-- Footer Elements -->
        <div class="container-fluid p-0 text-white shadow-lg">
            <div class="container-fluid text-center border">
                <i class="fa fa-caret-up text-dark" aria-hidden="true"></i><a href="#top" class="text-dark">&nbsp; Go To
                    Top</a>
            </div>
            <div class="footer-copyright w-100 text-center text-dark py-3">© 2019 Copyright:
                <a href="./index.html"> Karachi Garbage</a>
            </div>
        </div>
    </footer>
    <script src="./js/bootstrap.min.js"></script>
</body>

</html>