<!doctype html>
<html lang="en">

<head>
    <title>Karachi Garbage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/all.css">
    <script src="./js/jquery-3.4.1.min.js"></script>
    <script src="./js/script.js"></script>
    <script src="./js/bootstrap.min.js"></script>


</head>

<body>
    <div class="container-fluid shadow-lg p-0">
        <img src="./images/garbage-2091534_960_720.png" class="logo" alt="Logo">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="collapse navbar-collapse p-0" id="collapsibleNavId">
                <div class="row w-100 ml-1">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12 ml-auto mr-2">
                                <nav class="nav float-right">
                                    <a class="nav-link text-dark" href="./index.html">Home</a>
                                    <a class="nav-link text-dark" href="./garbage-pickup.html">Dumpster Locations</a>
                                    <a class="nav-link text-dark" href="./faq.html">FAQ</a>
                                    <a class="nav-link" href="#"></a>
                                    <a class="nav-link" href="#"></a>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12 mr-auto">
                                <nav class="nav float-left mr-1">
                                    <a class="nav-link" href="#"></a><a class="nav-link" href="#"></a>
                                    <a class="nav-link active text-dark" href="./garbage-pickup.html">Garbage pickup
                                        schedule</a>
                                    <a class="nav-link active text-dark" href="./about.html">About</a>
                                    <a class="nav-link active text-dark" href="./contact.html">Contact</a>

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <br />
    <br />
    <br />
    <div class="container">
        <div class="card shadow-lg">
            <div class="card-body">
                <h1>Cleanliness</h1>
                <p>
                    Cleanliness is not a work which we should do forcefully. It is a good habit and healthy way of our
                    healthy life. All
                    type of cleanliness is very necessary for our good health whether it is personal cleanliness,
                    surrounding cleanliness,
                    environment cleanliness, pet animal cleanliness or work place cleanliness (like school, college,
                    office, etc). We all
                    should be highly aware about how to maintain cleanliness in our daily lives. It is very simple to
                    include cleanliness in
                    our habit. We should never compromise with cleanliness, it is as necessary as food and water for us.
                    It should be
                    practiced from the childhood which can only be initiated by each parent as a first and foremost
                    responsibilityCleanliness is a good habit which everyone should have to have healthy life and
                    standard lifestyle. We
                    should understand that cleanliness it not only responsibility of our prime minister however, it is
                    the responsibility of
                    each and every person living on this earth. We conjointly should actively participate in this
                    campaign for the healthy
                    lives of all of us.


                </p>
                <br />
                <h2 class="text-center" style="font-family: Century Gothic">- Garbage not being picked up</h2>
                <div style="position: relative">
                    <img width="100%" src="./images/28513939180_c84d669d50_k.jpg" height="600px;">
                    <div style="position: absolute;top: 30%;" class="text-white">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-5">

                                <span class="article_header_meta_info_type"><small><a class="h4">Awarness:
                                        </a></small></span>
                                <span class="article_header_meta_info_topic"><small><a class="text-primary h5">
                                            Garbage not being picked up</a></small></span>
                                <div class="article_header_meta_title">
                                    <h1><a href="./awarness.html" class="text-white h2">Picking up litter: Pointless
                                            exercise or
                                            powerful tool
                                            in
                                            the battle to beat
                                            plastic
                                            pollution?</a></h1>

                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <br />
                <p style="font-family: Century Gothic">
                    Armed with bags, gloves, litter pickers and a strong sense of purpose, around 12,000 men, women and
                    children
                    got to work
                    cleaning the streets, green spaces and beaches as part of a nationwide Great Plastic Pick Up
                    during a
                    weekend in
                    early May.<br />

                    The volunteers included young scouts, book club members, martial arts enthusiasts, politicians and
                    celebrities - all
                    giving their time to clear rubbish and raise awareness as part of the three-day campaign organized
                    by the
                    Daily Mail
                    newspaper and environmental charity Keep Britain Tidy.<br />


                    Picking up rubbish
                    Cleanups are good for raising awareness, but critics say they do little to address the source of the
                    problem. (Reuters)
                    Although nobody could doubt the selfless dedication of the thousands who took part, some activists
                    argue
                    that such
                    volunteer clean-ups are not the best way to tackle the plastic pollution that is choking rivers,
                    destroying
                    once-beautiful beaches and costing the lives of whales, seabirds and other wildlife.<br />



                    #BeatPlasticPollution is the theme of World Environment Day 2019.
                </p>
                <br />
                <h2 class="text-center" style="font-family: Century Gothic">- Cleanliness issue with a public place</h2>
                <br />

                <div style="position: relative">
                    <img width="100%" src="./images/picking up litter REUTERS.jpg" height="600px;">
                    <div style="position: absolute;top: 30%;" class="text-white">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-7">

                                <span class="article_header_meta_info_type"><small><a>Awarness</a></small></span>
                                <span class="article_header_meta_info_topic"><small><a class="text-primary">
                                            Cleanliness issue with a public place</a></small></span>
                                <div class="article_header_meta_title">
                                    <h1><a href="./awarness.html" class="text-white">Cleanliness in public areas: Clean
                                            your
                                            home everyday but where goes the city ?</a></h1>

                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <br>
                <p>Cleanliness is not a job which we have to do to earn money however, it is a very good habit which we
                    should do to earn a
                    good health and healthy life. Cleanliness is a greatest virtue which should be followed by everyone
                    as a great
                    responsibility to enhance the standard of life. We should take care of our personal cleanliness, pet
                    animal cleanliness,
                    environment cleanliness, surrounding cleanliness and work place cleanliness. We should not cut trees
                    and do more
                    plantations for maintaining the cleanliness of our environmentCleanliness is a clean habit which is
                    very necessary to
                    all of us. Cleanliness is a habit of keeping ourselves physically and mentally clean including with
                    our home, pet
                    animals, surroundings, environment, pond, river, schools, etc. We should keep ourselves neat, clean
                    and well dressed all
                    time. It helps in making a good personality and impression in the society as it reflects a clean
                    character. We should
                    maintain the environment and natural resources (water, food, land, etc) cleanliness together with
                    our body cleanliness
                    in order to make the possibility of life existence forever on the earth.

                    Read more on Brainly.in - https://brainly.in/question/738521#readmore</p>
            </div>
        </div>
    </div>
    <br><br>

    <div class="container-fluid p-0 text-white shadow-lg">


        <div class="container-fluid text-center border">
            <i class="fa fa-caret-up text-dark" aria-hidden="true"></i><a href="#top" class="text-dark">&nbsp; Go To
                Top</a>
        </div>
        <div class="footer-copyright w-100 text-center text-dark py-3">© 2019 Copyright:
            <a href="./index.html"> Karachi Garbage</a>
        </div>
    </div>
    </footer>
    <script src="./js/bootstrap.min.js"></script>


</body>

</html>