<!doctype html>
<html lang="en">

<head>
    <title>Karachi Garbage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/all.css">
    <script src="./js/jquery-3.4.1.min.js"></script>
    <script src="./js/script.js"></script>
    <script src="./js/bootstrap.min.js"></script>


</head>

<body>
    <div class="container-fluid shadow-lg p-0">
        <img src="./images/garbage-2091534_960_720.png" class="logo" alt="Logo">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="collapse navbar-collapse p-0" id="collapsibleNavId">
                <div class="row w-100 ml-1">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12 ml-auto mr-2">
                                <nav class="nav float-right">
                                    <a class="nav-link text-dark" href="./index.html">Home</a>
                                    <a class="nav-link text-dark" href="./garbage-pickup.html">Dumpster Locations</a>
                                    <a class="nav-link text-dark" href="./faq.html">FAQ</a>
                                    <a class="nav-link" href="#"></a>
                                    <a class="nav-link" href="#"></a>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12 mr-auto">
                                <nav class="nav float-left mr-1">
                                    <a class="nav-link" href="#"></a><a class="nav-link" href="#"></a>
                                    <a class="nav-link active text-dark" href="./garbage-pickup.html">Garbage pickup
                                        schedule</a>
                                    <a class="nav-link active text-dark" href="./about.html">About</a>
                                    <a class="nav-link active text-dark" href="./contact.html">Contact</a>

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid p-0 text-white shadow-lg">
        <div class="container-fluid text-center border">
            <i class="fa fa-caret-up text-dark" aria-hidden="true"></i><a href="#top" class="text-dark">&nbsp; Go To
                Top</a>
        </div>
        <div class="footer-copyright w-100 text-center text-dark py-3">© 2019 Copyright:
            <a href="./index.html"> Karachi Garbage</a>
        </div>
    </div>
    </footer>
    <script src="./js/bootstrap.min.js"></script>


</body>

</html>