<!doctype html>
<html lang="en">

<head>
    <title>Karachi Garbage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/all.css">
    <script src="./js/script.js"></script>




</head>

<body>
    <div class="container-fluid shadow-lg p-0" style="z-index: 99">
        <img src="./images/garbage-2091534_960_720.png" class="logo" alt="Logo">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="collapse navbar-collapse p-0" id="collapsibleNavId">
                <div class="row w-100 ml-1">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12 ml-auto mr-2">
                                <nav class="nav float-right">
                                    <a class="nav-link text-dark" href="./index.html">Home</a>
                                    <a class="nav-link text-dark" href="./garbage-pickup.html">Dumpster Locations</a>
                                    <a class="nav-link text-dark" href="./faq.html">FAQ</a>
                                    <a class="nav-link" href="#"></a>
                                    <a class="nav-link" href="#"></a>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12 mr-auto">
                                <nav class="nav float-left mr-1">
                                    <a class="nav-link" href="#"></a><a class="nav-link" href="#"></a>
                                    <a class="nav-link active text-dark" href="./garbage-pickup.html">Garbage pickup
                                        schedule</a>
                                    <a class="nav-link active text-dark" href="./about.html">About</a>
                                    <a class="nav-link active text-dark" href="./contact.html">Contact</a>

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div id="carouselId" class="carousel shadow-lg slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselId" data-slide-to="0" class="active"></li>
            <li data-target="#carouselId" data-slide-to="1"></li>
            <li data-target="#carouselId" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="./images/Clifton_Beach,_Karachi_-_Pakistan.jpg"
                    data-src="holder.js/900x500/auto/#777:#555/text:First slide" alt="First slide">
                <div class="carousel-caption">
                    <div class="h2">Keep Can't clean Keep Can't Green</div>
                </div>

            </div>
            <div class="carousel-item">
                <img src="./images/photo-1532996122724-e3c354a0b15b.jpg"
                    data-src="holder.js/900x500/auto/#777:#555/text:First slide" alt="Second slide">
                <div class="carousel-caption">
                    <div class="h2">Beauty of the nature can only be kept by cleanliness</div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="./images/Top-Image-PR-Impact study.jpg"
                    data-src="holder.js/900x500/auto/#666:#444/text:Second slide" alt="Third slide">
                <div class="carousel-caption">
                    <div class="h2">Everyone loves the green city</div>
                    <p></p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <br />
    <div class="article_header_image shadow-lg container-fluid p-0 w-100">
        <h1 class="text-center header1" style="font-family: Century Gothic">Awarness on Garbage Dumping</h1>
        <h2 class="text-center" style="font-family: Century Gothic">- Garbage not being picked up</h2>
        <div style="position: relative">
            <img width="100%" src="./images/28513939180_c84d669d50_k.jpg" height="600px;">
            <div style="position: absolute;top: 30%;" class="text-white">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-5">

                        <span class="article_header_meta_info_type"><small><a class="h3">Awarness: </a></small></span>
                        <span class="article_header_meta_info_topic"><small><a class="text-primary h4">
                                    Garbage not being picked up</a></small></span>
                        <div class="article_header_meta_title">
                            <h1><a href="./awarness.html" class="text-white">Picking up litter: Pointless exercise or
                                    powerful tool
                                    in
                                    the battle to beat
                                    plastic
                                    pollution?</a></h1>

                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br />
        <h2 class="text-center" style="font-family: Century Gothic">- Clogged drains</h2>
        <br />

        <div style="position: relative">
            <img width="100%" src="./images/RAIN_WATER_STAGNATION.jpg" height="600px;">
            <div style="position: absolute;top: 30%;" class="text-white">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-7">

                        <span class="article_header_meta_info_type"><small><a>Awarness</a></small></span>
                        <span class="article_header_meta_info_topic"><small><a class="text-primary">
                                    Garbage not being picked up</a></small></span>
                        <div class="article_header_meta_title">
                            <h1><a href="./awarness.html" class="text-white">Picking up litter: Pointless exercise or
                                    powerful tool
                                    in
                                    the battle to beat
                                    plastic
                                    pollution?</a></h1>

                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br />
        <h2 class="text-center" style="font-family: Century Gothic">- Cleanliness issue with a public place</h2>
        <br />

        <div style="position: relative">
            <img width="100%" src="./images/picking up litter REUTERS.jpg" height="600px;">
            <div style="position: absolute;top: 30%;" class="text-white">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-7">

                        <span class="article_header_meta_info_type"><small><a>Awarness</a></small></span>
                        <span class="article_header_meta_info_topic"><small><a class="text-primary">
                                    Cleanliness issue with a public place</a></small></span>
                        <div class="article_header_meta_title">
                            <h1><a href="./awarness.html" class="text-white">Cleanliness in public areas: Clean your
                                    home everyday but where goes the city ?</a></h1>

                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br />
        <div class="container-fluid text-white shadow-lg"
            style="background-image: url('./images/picking-up-trash.webp');background-size: cover; height: 400px;">
            <br /><br /><br />
            <div class="row">

                <div class="col-1"></div>
                <div class="col-11">
                    <h1>Awarness</h1>
                    <ul class="h3">
                        <li>Efftects of waste and improper treatment of waste</li>
                        <li>Related diseases</li>
                        <li>What is recycling</li>
                        <li>What can citizens do to reduce the size fo their garbage dumping </li>
                        <a href="./aware.html" class="h5">Read more ></a>
                    </ul>
                </div>

            </div>
        </div>
        <br />
        <div class="container-fluid text-white shadow-lg"
            style="background-image: url('./images/bas-emmen-EXpa6pyXkHA-unsplash.jpg');background-size: cover; height: 400px;">
            <br /><br /><br /><br />
            <div class="row">

                <div class="col-1"></div>
                <div class="col-4">
                    <h1>Recyclable collections center</h1>
                    <ul class="h3">
                        <li>Reduce Reuse Recycle</li>
                        <a href="./recycle.html" class="h5">Read more ></a>
                    </ul>
                </div>

            </div>
        </div>
        <!-- Footer -->
        <footer class="page-footer font-small cyan shadow-lg darken-3">

            <!-- Footer Elements -->
            <div class="container">

                <!-- Grid row-->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-12 py-5">
                        <div class="mb-5 flex-center text-center">

                            <!-- Facebook -->
                            <a class="fb-ic">
                                <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <!-- Twitter -->
                            <a class="tw-ic">
                                <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <!-- Google +-->
                            <a class="gplus-ic">
                                <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <!--Linkedin -->
                            <a class="li-ic">
                                <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <!--Instagram-->
                            <a class="ins-ic">
                                <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <!--Pinterest-->
                            <a class="pin-ic">
                                <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
                            </a>
                        </div>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row-->

            </div>
            <!-- Footer Elements -->

        </footer>
        <!-- Footer -->
        <div class="container-fluid p-0 text-white shadow-lg">
            <div class="container-fluid text-center border">
                <i class="fa fa-caret-up text-dark" aria-hidden="true"></i><a href="#top" class="text-dark">&nbsp; Go To
                    Top</a>
            </div>
            <div class="footer-copyright w-100 text-center text-dark py-3">© 2019 Copyright:
                <a href="./index.html"> Karachi Garbage</a>
            </div>
        </div>
        </footer>
        <script src="./js/bootstrap.min.js"></script>
        <script src="./js/jquery-3.4.1.min.js"></script>
        <script src="./js/bootstrap.min.js"></script>
</body>

</html>