{% extends 'dashboard/base_template.html' %}
{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
{% block admin %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-plain">
            <div class="card-header">
                {% block breadcrumbs %}
                <div class="row">
                    <div class="col-10">
                        <div class="breadcrumbs styled-font">
                            <h1 class="styled-font">{% if head %} {{ head }}{% endif %}
                                {% if title %} &rsaquo; {{ title }}{% endif %}</h1>
                        </div>
                    </div>

                    {% if title in 'List' %}
                    <div class="col-2">
                        <a class="float-right btn buttons btn-fill btn-primary" href="add/"><i
                                class="fa fa-plus"></i></a>
                    </div>
                    {% endif %}
                </div>

                <div class="mt-0 pt-0">
                    <hr class="bg-white" />
                </div>
                {% endblock %}
                {% block messages %}
                {% if messages %}
                <ul class="messagelist">{% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
                        {{ message|capfirst }}</li>
                        {% endfor %}</ul>
                {% endif %}
                {% endblock messages %}
            </div>
            <div class="card-body">
                <div>
                    <div id="content" class="{% block coltype %}colM{% endblock %}">
                        {% block content %}
                        <!-- ! Body -->
                        {% endblock %}
                        <br class="clear">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock admin %}