{% load i18n static %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl" {% endif %}>

<head>
    {% include 'dashboard/base_stylesheets.html' %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
    data-admin-utc-offset="{% now "Z" %}">
    {% if not is_popup %}
    <div class="wrapper">
        <!-- ? Sidebar -->
        {% include 'dashboard/sidebar.html' %}
        <div class="main-panel">
            <!-- ? Navbar -->
            {% include 'dashboard/base_navbar.html' %}
            <div class="content">
                {% block admin %}

                {% endblock admin %}
            </div>
            {% include 'dashboard/base_footer.html' %}
        </div>
    </div>
    {% endif %}
    <div class="fixed-plugin">
        {% include 'dashboard/base_plugin.html' %}
    </div>
    {% include 'dashboard/base_scripts.html' %}
</body>

</html>