<center>
    <div class="modal fade" style="background-color: rgba(0,0,0,0.7);" id="inputLaunchToPOST" tabindex="-2"
        role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="container">
            <div class="modal-content mt-5">
                <div class="modal-header">
                    <h5 class="modal-title" style="font-family: Pacifico;" class="m-2">Posts &gt; Add
                    </h5>
                    <button id="nacho">dasd</button>
                </div>
                <div class="modal-body text-left">
                    <form class="w-100" id='postForm' method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div id="div_id_message" class="form-group">
                            <label for="id_message" class="">
                                Message
                            </label>
                            <div class=""> <textarea name="message" cols="40" rows="10" class="textarea form-control"
                                    id="id_message"></textarea> </div>
                        </div>

                        <input class="btn btn-primary w-100" type="submit" value="Post">
                    </form>
                </div>
            </div>
        </div>
    </div>
</center>


<div