{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div style="margin: auto;width: 80%;" id="post-section">

    </div>
    <!-- <div style="margin: auto;width: 80%;">
        <div class="pl-4 pt-2 pr-4">
            <div class="card shadow-lg animated fadeInUp">
                <div class="card-body">
                    <a href="#" id="LoadMore">Load more <i class="fa fa-chevron-down"></i> </a>
                </div>
            </div>
        </div>
    </div> -->
    <br /><br />
</div>
{% endblock %}