{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid p-0 m-0">
    <div class="card border-0 p-0 m-0">
        <div class="card-header p-4 pl-3"
            style="background-image: url('{% static 'images/Travel1.jpg' %}'); background-size:cover;background-attachment: fixed;height:400px;">



        </div>
        <div class="card-body w-100" style="position: absolute;top:75%">
            <div class="row">
                <div class="col-3">
                    <div class="card border-0 shadow"
                        style="background-image: url('{{city_data.image.url}}');background-size: cover;">
                        <img class="card-img-top" style="z-index: -1;"
                            src="http://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/{{ weather.icon }}.png"
                            alt="">
                        <div class="card-body bg-light">
                            <h4 class="card-title">
                                <p><i class="fa fa-map-marker-alt float-left" aria-hidden="true"></i>
                                    &nbsp; {{city_data.destination.city}}
                                </p>
                            </h4>
                            <p>
                                <hr />
                                Featured destinations:
                                <br /> {% for destination in city_locations %}
                                <span class="badge badge-dark">{{destination.name}}</span>
                                {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-6 ">
                    <div class="component">
                        <button class="cn-button" id="cn-button">
                            <i class="fa fa-align-center" aria-hidden="true"></i>
                        </button>
                        <div class="cn-wrapper" id="cn-wrapper">
                            <ul>
                                <li>
                                    <a href="#">
                                        <p class="mt-2">
                                            <i class="fa fa-hotel" aria-hidden="true"></i>
                                            <span>Hotels</span>
                                        </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <p class="mt-2">
                                            <i class="fa fa-utensils" aria-hidden="true"></i>
                                            <span>DineIns</span>
                                        </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <p class="mt-2">
                                            <i class="fa fa-plane-departure" aria-hidden="true"></i>
                                            <span>Flights</span>
                                        </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <p class="mt-2">
                                            <i class="fa fa-train" aria-hidden="true"></i>
                                            <span>Trains</span>
                                        </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <p class="mt-2">
                                            <i class="fa fa-bus" aria-hidden="true"></i>
                                            <span>Buses</span>
                                        </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <p class="mt-2">
                                            <i class="fa fa-home" aria-hidden="true"></i>
                                            <span>Rentals</span>
                                        </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <p class="mt-2">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            <span>More</span>
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="card" style="z-index: 99;">
                        <div class="w-100">
                            <div class="row p-3">
                                <div class="col-1">
                                    <img class='rounded-circle' width='50' src='{{request.user.profile.image.url}}'>
                                </div>
                                <div class="col ml-1">
                                    <form action="">
                                        <input class="form-control m-0 w-100" style="font-size: 25px;" type="text"
                                            placeholder="What's up ? {{request.user.username}}" data-toggle="modal"
                                            data-target="#inputLaunchToPOST" />
                                    </form>
                                </div>
                            </div>
                            <div class="row p-3 text-center w-100">
                                <div class="col-4">
                                    <i class="text-primary fas fa-user-friends"></i> &nbsp; Tag Someone
                                </div>
                                <div class="col-4">
                                    <i class="text-danger fas fa-map-marked-alt"></i> &nbsp; Tag Location
                                </div>
                                <div class="col-4">
                                    <i class="text-primary fas fa-plus"></i> &nbsp; Something else..
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid p-0 m-0">
                        <h2 class="mt-5 ml-3">Selected: Attractions ........</h2>
                        <hr>
                        <h2 class="mt-5 ml-3">Trending near you ........</h2>
                        <hr>
                        <div class="p-0" id="post-section" style="background-attachment: scroll;">

                        </div>
                    </div>

                </div>
                <div class="col-3">
                    <div class="card border-0 shadow" {% now "H" as current_time %}
                        {% if current_time in "['07','08','09','10','11']" %}
                        style="background: url('{% static 'images/Morning.jpg' %}'); background-size: cover;background-attachment: scroll;"
                        {% elif current_time == '12' %} style="background: url('{% static 'images/Warm.jpg' %}'); background-size:
                        cover;background-attachment: scroll;" {% elif current_time in "['13','14','15','16','17']" %}
                        style="background: url('{% static 'images/Afternoon.webp' %}'); background-size: cover;background-attachment: scroll;"
                        {% elif current_time == '18' %}
                        style="background: url('{% static 'images/Dusk.jpg' %}'); background-size: cover;background-attachment: scroll;"
                        {% elif current_time in "['19','20','21','22','23',]" %}
                        style="background: url('{% static 'images/Evening.jpg' %}'); background-size: cover;background-attachment: scroll;"
                        {% elif current_time == '00' %}
                        style="background: url('{% static 'images/Midnight.jpg' %}'); background-size: cover;background-attachment: scroll;"
                        {% elif current_time in "['01','02','03','04','05']" %}
                        style="background: url('{% static 'images/Night.jpg' %}'); background-size: cover;background-attachment: scroll;"
                        {% elif current_time == '06' %}
                        style="background: url('{% static 'images/Sunrise.jpg' %}'); background-size: cover;background-attachment: scroll;"
                        {% else %} none {{ current_time }} {% endif %}>
                        <img class=" card-img-top shadow-lg"
                            src="http://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/{{ weather.icon }}.png"
                            alt="Image" style="z-index: -1;">
                        <div class="card-body bg-light">
                            <h4 class="card-title">
                                <p>
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                    &nbsp; Weather - {{ weather.temperature }}° C
                                </p>
                            </h4>
                            <p>
                                <hr />
                                <p>
                                    {{ weather.description|capfirst }} -
                                    {% now "H" as current_time %}
                                    {% if current_time in "['07','08','09','10','11']" %}
                                    Good Morning !!
                                    {% elif current_time == '12' %}
                                    It's Noon !!
                                    {% elif current_time in "['13','14','15','16','17']" %}
                                    Good Afternoon !!
                                    {% elif current_time == '18' %}
                                    Daytime about to end !!
                                    {% elif current_time in "['19','20','21','22','23',]" %}
                                    Good Evening !!
                                    {% elif current_time == '00' %}
                                    Oh it's midnight, time for the family !!
                                    {% elif current_time in "['01','02','03','04','0s5']" %}
                                    Twilight, a perfect time to relax with someone special !!
                                    {% elif current_time == '06' %}
                                    Sun will be shining on us soon !!
                                    {% else %}
                                    none {{ current_time }}
                                    {% endif %}

                                </p>

                                {% comment %} <span class="">Tommorow will be 29 C.</span> {% endcomment %}
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <center>
                <div class="modal fade" id="inputLaunchToPOST" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" style="font-family: Pacifico;" class="m-2">Posts &gt; New
                                </h5>
                            </div>
                            <div class="modal-body text-left p-0">

                                <div class="row">
                                    <div class="col">
                                        <form id='postForm' method="POST" enctype="multipart/form-data">
                                            <div id="div_id_type" class="form-group form-inline pt-3 pl-4">
                                                <div class="">
                                                    <label for="type" class="w-100">Available for
                                                        <select class="form-control ml-2" name="type" id="">
                                                            <option>Public</option>
                                                            <option>Private</option>
                                                        </select>
                                                    </label>
                                                </div>
                                            </div>
                                            <hr class="w-75 m-auto">
                                            <div class="pl-3 mt-3">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <img class='rounded-circle mr-3 float-left' width='50'
                                                            src='{{request.user.profile.image.url}}'>
                                                    </div>
                                                    <div class="col-10 mt-2 ml-0 pl-0 pt-1">
                                                        <p class="h5 p-0"> Hello
                                                            {{request.user.first_name}}
                                                            {{request.user.last_name}}
                                                            !!
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            {% csrf_token %}

                                            <div id="div_id_message" class="form-group">

                                                <div class=""> <textarea name="message"
                                                        placeholder="Want to share something ?" rows="4"
                                                        style="font-size: 32px;" class="textarea w-100 p-3 border-0"
                                                        id="id_message"></textarea>
                                                </div>
                                                <p class="p-3" id="charsCurrentCountOfPost">O of 300 characters</p>
                                                <div class="p-3">
                                                    <div class="card">
                                                        <div id="div_id_files" class="card-body">
                                                            <h4 class="card-title">Add something ?</h4>
                                                            <div class="form-group">
                                                                <label for=""></label>
                                                                <input type="file" multiple class="form-control-file"
                                                                    name="files" id="id_files" placeholder="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-3">
                                                <input class="btn btn-primary w-100" type="submit" value="Post">
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </div>
</div>

{% endblock %}