{% load static %}
<!doctype html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <title>Project | {{head}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include 'base/stylesheets.html' %}
    {% block extra_head %}
    {% endblock %}
</head>

<body>
    {% include 'base/navigation.html' %}
    {% comment %} {% block messages %}
    {% include 'base/messages.html' %}
    {% endblock messages %} {% endcomment %}
        {% block content %}
        {% endblock %}
    {% include 'base/footer.html' %}
    {% include 'base/scripts.html' %}
    {% block scripts %}
    {% endblock scripts %}
</body>

</html>