<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravellingDiaires - We care for you </title>
    {% include 'home/stylesheets.html' %}
</head>

<body>
    <div class="container-fluid p-0">
        {% include 'home/navbar.html' %}
        <div class="container-fluid">
            <div class="container p-4">
                {% block body %}

                {% endblock body %}
            </div>
        </div>
        {% include 'home/footer.html' %}
    </div>
    {% include 'home/scripts.html' %}
</body>

</html>