{% extends 'dashboard/base.html' %}



{% block content %}
<div class="card shadow-lg">
    <div class="card-body">
        <table class="table tablesorter">
            <thead class=" text-primary">
                <tr>
                    <th>Destination</th>
                    <th>City</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for destination in object_list %}
                <tr>
                    <td>{{ destination.name }}</td>
                    <td>{{ destination.city }}</td>
                    <td><a href="{% url 'destinations:details' pk=destination.id %}"
                            class="pt-1 btn btn-primary buttons btn-sm ml-1 mr-1"><i
                                class="tim-icons icon-zoom-split"></i></a> |
                        <a href="{% url 'destinations:edit' pk=destination.id %}"
                            class="pt-1 btn btn-success btn-sm font-weight-900 ml-1 mr-1"><i
                                class="tim-icons icon-pencil font-weight-900"></i></a> |
                        <a href="{% url 'destinations:delete' pk=destination.id %}"
                            class=" ml-1 mr-1 pt-1 btn btn-danger btn-sm"><i
                                class="tim-icons icon-simple-remove font-weight-900"></i></a></td>
                </tr>
                {% endfor %}

            </tbody>

        </table>
    </div>
</div>
{% endblock content %}