{% load crispy_forms_tags %}
<form {% if form_id %} id='{{ form_id }}' {% endif %} action="{% if action_url %}{{ action_url }}{% endif %}"
    class="w-100" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <div  class="form-group"> <label for="id_message" class="">
        <label for="id_images" class=" requiredField">
            Destination </label>
        </label>
        <div class="">
    <input type="text" class="form-control" name="destinations" id="destinations" autocomplete="off">
            </div>
    </div>
    <input class="btn btn-primary" type="submit" value="{{btn_title}}">
</form>