{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-11">
                    <h2 style="font-family: Pacifico;" class="m-2">{{head}} > {{sub_head}}</h2>
                </div>
            </div>
            <hr>
            {% include 'post/form.html' with btn_title='Add' %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        getDestinations();
        var destinationList = [];
        function getDestinations() {
            $.ajax({
                method: 'GET',
                url: '{% url "destination-api:list" %}',
                success: function (data) {
                    formatData(data);
                }
            });
        }
        function formatData(data) {
            for (let index = 0; index < data.length; index++) {
                const element = data[index];
                destinationList.push(element.name)
            }
        }
        $("#destinations").autocomplete({
            source: destinationList
        });
    });


</script>
{% endblock %}