{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="card animated fadeInUp">
                <img class="card-img-top" src="{{object.user.profile.image.url}}" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{object.user.first_name}} {{object.user.last_name}}</h4>
                    <h4 class="card-title">@{{object.user.username}}</h4>
                    <p class="card-text">Member since : {{object.user.profile.created.year}} |
                        {{object.user.profile.created|timesince}}</p>
                    <p>
                        Followers: {{object.user.followed_by.all.count }}
                    </p>
                    <p>
                        {% if not request.user == object.user %}<a class="btn btn-info"
                            href="{{ object.user.profile.get_follow_url }}">
                            {% if following %} Unfollow {% else %} Follow {% endif %}
                        </a>
                        {% endif %}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div style="margin: auto;">
                <div class="card shadow m-4 animated fadeInUp">
                    {% if object.post_images %}
                    <div class="card-columns mt-3">
                        {% for post_image in object.post_images.all %}
                        <div class="pl-3 pr-3">
                            <div class="card">
                                <div class="card-body p-0 ">
                                    <img class="card-img-top" width="300px" height="150px"
                                        src="{{post_image.image.url}}" alt="">
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <h4 class="card-title">{{object.message}}</h4>
                        <p class="card-text">by <a
                                href="{% url 'user_profile' username=object.user.username %}">@{{object.user.username}}</a></br>
                            {% if object.destination %}
                            <small>at <a href="#" class="styled-font">#{{object.destination.name}}</a></small></br>
                            {% endif %}
                            <small>{{object.created_at|timesince}} ago</small></br>
                            <small id="likes">{{object.liked.all.count}} likes</small></p>
                    </div>
                    <div class="card-footer">
                        <a class="post-like" href="" data-id="{{object.id}}">
                            {% if request.user in object.liked.all %}
                            <i class="fa fa-heart"></i>
                            {% else %}
                            <i class="fa fa-heart-o"></i>
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}