<div class="sidebar">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="javascript:void(0)" class="simple-text logo-mini">
                TD
            </a>
            <a href="javascript:void(0)" class="simple-text logo-normal">
                TravellingDiaries
            </a>
        </div>
        <ul class="nav">
            <li class="{% if head == 'Dashboard' %}active{% endif %}">
                <a href="{% url 'dashboard' %}">
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p>Dashboard</p>
                </a>

            </li>
            <li class="{% if head == 'Reviews' %}active{% endif %}">
                <a href="{% url 'reviews:list' %}">
                    <i class="tim-icons icon-chart-bar-32"></i>
                    <p>Reviews</p>
                </a>
            </li>
            <li class="{% if head == 'home' %}active{% endif %}">
                <a href="./icons.html">
                    <i class="tim-icons icon-atom"></i>
                    <p>Icons</p>
                </a>
            </li>

            <li class="{% if head == 'home' %}active{% endif %}">
                <a href="./notifications.html">
                    <i class="tim-icons icon-bell-55"></i>
                    <p>Notifications</p>
                </a>
            </li>
            <li class="{% if head == 'home' %}active{% endif %}">
                <a href="./user.html">
                    <i class="tim-icons icon-single-02"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li class="{% if head == 'home' %}active{% endif %}">
                <a href="./tables.html">
                    <i class="tim-icons icon-puzzle-10"></i>
                    <p>Table List</p>
                </a>
            </li>
            <li class="{% if head == 'home' %}active{% endif %}">
                <a href="./typography.html">
                    <i class="tim-icons icon-align-center"></i>
                    <p>Typography</p>
                </a>
            </li>
            <!-- <li class="{% if head == 'home' %}active{% endif %}">
                <a href="./rtl.html">
                    <i class="tim-icons icon-world"></i>
                    <p>RTL Support</p>
                </a>
            </li> -->
            <li class="active-pro {% if nbar == 'home' %}active{% endif %}">
                <a href="{% url 'admin:index' %}">
                    <i class="tim-icons icon-spaceship"></i>
                    <p>Switch to default admin</p>
                </a>
            </li>
        </ul>
    </div>
</div>