.headImage {
  height: 400px;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("./../images/Travel1.jpg");
}
.headCard {
  position: absolute;
  top: 75%;
}
.locationCard {
  background-image: url("./../images/65523.jpg");
  background-size: cover;
}
.weatherCard {
  background: url("./../images/Evening.jpg");
  background-size: cover;
  background-attachment: scroll;
}
