.headImage {
  height: 400px;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("./../images/Travel1.jpg");
}
.headCard {
  position: absolute;
  top: 75%;
}
.locationCard {
  background-image: url("./../images/65523.jpg");
  background-size: cover;
}
.weatherCard {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #232526, #414345); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #232526, #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.weatherIcon{
  position: absolute;
  right: -25px;
}
.userIcon{
  position: absolute;
  right: 25px;
  top: 15px;
}