{% extends 'dashboard/base.html' %}



{% block content %}
<div class="card shadow-lg">
    <div class="card-body">
        <table class="table tablesorter">
            <thead class=" text-primary">
                <tr>
                    <th>Given By</th>
                    <th>Destination</th>
                    <th>Rating</th>
                    <th>Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for review in object_list %}
                <tr>
                    <td>{{ review.user }}</td>
                    <td>{{ review.destination }}</td>
                    <td>{{ review.get_rating_display }}</td>
                    <td>{{ review.get_type_display }}</td>
                    <td><a href="{% url 'reviews:details' pk=review.id %}" class="btn btn-primary buttons btn-sm"><i
                                class="tim-icons icon-simple-add"></i></a> | <a
                            href="{% url 'reviews:edit' pk=review.id %}" class="btn btn-secondary btn-sm"><i
                                class="tim-icons icon-pencil"></i></a> | <a
                            href="{% url 'reviews:delete' pk=review.id %}" class="btn btn-danger btn-sm"><i
                                class="tim-icons icon-simple-remove"></i></a></td>
                </tr>
                {% endfor %}

            </tbody>

        </table>
    </div>
</div>
{% endblock content %}