{% extends 'home/base.html' %}

{% block body %}
<div class="card shadow-sm">
    <div class="card-body">
        <h1 class="styled-font">New here ? Sign Up Here</h1>
        <form method="post" class="uniForm">
            {% load crispy_forms_tags %}
            {% csrf_token %} {{ form | crispy }}
            <p><small>Note: This is not enough information for us. Update your profile now or later
                    to get better
                    interaction
                    with our
                    website.</small></p>
            <input type="submit" value="Register" class="btn btn-lg styled-font mt-1 btn-dark w-100">
        </form>
    </div>
</div>
<br />
{% endblock body %}