{% load crispy_forms_tags %}
<div class="card shadow">
    <div class="card-body">
        <form {% if form_id %} id='{{ form_id }}' {% endif %} action="{% if action_url %}{{ action_url }}{% endif %}"
            class="w-100" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{  form | crispy }}
            <input class="btn btn-fill btn-primary btn-lg mt-3 w-100" type="submit" value="{{btn_title}}">

        </form>
    </div>
</div>
<p><a href="{% url 'reviews:list' %}">Back to List</a></p>