.nav-link:hover{
    color: #000;
}

.carousel > .carousel-inner > .carousel-item > img {
    width:100%;
    height: 600px;
}
.space{
    height: 80px;
}
html {
    scroll-behavior: smooth;
}

.header1{
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: normal;
    margin: 0 0 25px;
    text-align: center;
}
.logo {
    position: absolute;
    z-index: 99;
    margin-top:5px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
width:100px;
 height:95px;
}

@media (max-width:768px){
    .logo {
    width:80px;
 height:75px;
}
.nav-link{
    font-size: 13px;
}
.carousel > .carousel-inner > .carousel-item > img {
    width:100%;
    height: 400px;
}
}